body {
    background-color: #ffffff;
}

.header {
    background-color: #2a2844;  /*#669d8a;*/
}

.cherry-fixed-layout .main-holder {
    background: transparent;
}

h1 {
    font: normal 100px/90px Oswald;
    color: #2f2f2f;
}

h2 {
    font: normal 60px/60px Oswald;
    color: #2f2f2f;
}

h3 {
    font: normal 50px/50px Oswald;
    color: #2f2f2f;
}

h4 {
    font: normal 40px/40px Oswald;
    color: #2f2f2f;
}

h5 {
    font: normal 30px/30px Oswald;
    color: #2f2f2f;
}

h6 {
     font: normal 20px/20px Oswald;
    color: #b55353;
}

body {
    font-weight: normal;
}

.logo_h__txt, .logo_link {
    font: normal 30px/36px Oswald;
    color: #f7d56c;
}

.sf-menu > li > a {
    font: normal 13px/16px Oswald;
    color: #a5cabd;
}

.nav.footer-nav a {
    font: normal 14px/18px Oswald;
    color: #818181;
}

.md-raised {
    color: rgb(255,255,255);
    background-color: rgb(41,98,255);
}

.md-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 36px;
    min-width: 88px;
    line-height: 36px;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-grid-row-align: center;
    align-items: center;
    text-align: center;
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    padding: 0 6px;
    margin: 6px 8px;
    background: transparent;
    color: currentColor;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}