@{ 
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <div class="section-title text-center">
            <h3>Dịch vụ</h3>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="row">
    <div class="span4">
        <div class="feature-2 wow zoomIn">
            <div class="media">
                <div class="media-left">
                    <div class="feature-icon text-center">
                        <i class="flaticon-drawing"></i>
                    </div>
                </div>
                <div class="media-body">
                    <a href="#">
                        <h3 class="media-heading">Nulla porttitor accumsan</h3>
                    </a>
                    <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Nulla porttitor accumsan.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="feature-2 wow zoomIn">
            <div class="media">
                <div class="media-left">
                    <div class="feature-icon text-center">
                        <i class="flaticon-construction"></i>
                    </div>
                </div>
                <div class="media-body">
                    <a href="#">
                        <h3 class="media-heading">Vestibulum ac diam sit</h3>
                    </a>
                    <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blandit aliquet elit.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="feature-2 wow zoomIn">
            <div class="media">
                <div class="media-left">
                    <div class="feature-icon text-center">
                        <i class="flaticon-transport"></i>
                    </div>
                </div>
                <div class="media-body">
                    <a href="#">
                        <h3 class="media-heading">Praesent sapien massa</h3>
                    </a>
                    <p>Vivamus suscipit tortor eget felis porttitor volutpat. Pellentesque in ipsum id orci porta dapibus.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="feature-2 wow zoomIn">
            <div class="media">
                <div class="media-left">
                    <div class="feature-icon text-center">
                        <i class="flaticon-people"></i>
                    </div>
                </div>
                <div class="media-body">
                    <a href="#">
                        <h3 class="media-heading">Pellentesque in ipsum</h3>
                    </a>
                    <p>Cras ultricies ligula sed magna dictum porta. Curabitur aliquet quam id dui posuere blandit.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="feature-2 wow zoomIn">
            <div class="media">
                <div class="media-left">
                    <div class="feature-icon text-center">
                        <i class="flaticon-construction-3"></i>
                    </div>
                </div>
                <div class="media-body">
                    <a href="#">
                        <h3 class="media-heading">Cras ultricies ligula sed</h3>
                    </a>
                    <p>Lorem ipsum dolor sit amet, consect adipiscing elit. Vestibulum ac diam sit amet quam vehicula elementum.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="feature-2 wow zoomIn">
            <div class="media">
                <div class="media-left">
                    <div class="feature-icon text-center">
                        <i class="flaticon-construction-4"></i>
                    </div>
                </div>
                <div class="media-body">
                    <a href="#">
                        <h3 class="media-heading">Lorem ipsum dolor sit</h3>
                    </a>
                    <p>Curabitur aliquet quam id dui posuere blandit. Cras ultricies ligula sed magna dictum porta.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="feature-2 wow zoomIn">
            <div class="media">
                <div class="media-left">
                    <div class="feature-icon text-center">
                        <i class="flaticon-security"></i>
                    </div>
                </div>
                <div class="media-body">
                    <a href="#">
                        <h3 class="media-heading">Lorem ipsum dolor sit</h3>
                    </a>
                    <p>Curabitur aliquet quam id dui posuere blandit. Cras ultricies ligula sed magna dictum porta.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="feature-2 wow zoomIn">
            <div class="media">
                <div class="media-left">
                    <div class="feature-icon text-center">
                        <i class="flaticon-construction-6"></i>
                    </div>
                </div>
                <div class="media-body">
                    <a href="#">
                        <h3 class="media-heading">Lorem ipsum dolor sit</h3>
                    </a>
                    <p>Curabitur aliquet quam id dui posuere blandit. Cras ultricies ligula sed magna dictum porta.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="feature-2 wow zoomIn">
            <div class="media">
                <div class="media-left">
                    <div class="feature-icon text-center">
                        <i class="flaticon-house"></i>
                    </div>
                </div>
                <div class="media-body">
                    <a href="#">
                        <h3 class="media-heading">Lorem ipsum dolor sit</h3>
                    </a>
                    <p>Curabitur aliquet quam id dui posuere blandit. Cras ultricies ligula sed magna dictum porta.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>