/Construction.Web/Construction.Domain/bin/Release
/Construction.Web/Construction.Domain/obj/Release
/Construction.Web/Construction.Web/Properties/PublishProfiles
/Construction.Web/Construction.Web/obj/Release
