@model Construction.Domain.Models.Setting
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-title.php">
                    <section class="title-section">
                        <h1 class="title-header">
                            Thông tin liên hệ
                        </h1>
                        @Html.Action("Breadcrumb", "Navigation")
                    </section>
                </div>
            </div>
            <div id="content" class="row">
                <div class="span12">
                    @Html.Raw(WebUtility.HtmlDecode(Model.Description))
                </div>
            </div>
            
            @Html.Action("Questioner", "FE_Support")

        </div>
    </div>
</div>