@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Home/_BannerSlider.cshtml")
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span12">
                    <div class="page type-page status-publish hentry">
                        @Html.Action("HomeItems", "FE_Product")                        
                        @Html.Action("HomeItems", "FE_Project")
                        @Html.Action("HomeItems", "FE_Service")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
