@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Home/_BannerSlider.cshtml")
<div class="container">
    <div class="row">
        <div class="span12" data-motopress-wrapper-file="page-home.php" data-motopress-wrapper-type="content">
            
            <div class="row">
                <div class="span12" data-motopress-type="loop" data-motopress-loop-file="loop/loop-page.php">
                    <div class="post-203 page type-page status-publish hentry page">
                        @Html.Action("HomeItems", "FE_Product")
                        <div class="row">
                            <div class="span9">
                                <h1>Giới thiệu</h1>
                                <figure class="frame thumbnail alignleft clearfix">
                                    <p><img class="alignnone size-full wp-image-1910" alt="home-1" src="https://livedemo00.template-help.com/wordpress_47532/wp-content/uploads/2011/09/home-1.jpg" width="390" height="297"></p>
                                </figure>
                                <p>
                                    Donec alsuacnc sit amet eroem ipsum dolor sit at conscuer aiing elituis fermen taoreet aliqam leo. Ut te dt elen vel nean<br>
                                    aura volpat. Duis ac turpisnteger rutrum ante eu lacum liberoisl porta vel sceleiset mad neque. Vivam<br>
                                    nibhus leo vel metusulla facilisi. Aenean nec eroses.
                                </p>
                                <a href="https://livedemo00.template-help.com/wordpress_47532/portfolio-view/quia-consequuntur-magni/" title="read more" class="btn btn-default btn-normal btn-inline " target="_self">read more</a><!-- .btn -->
                            </div>
                        </div>
                        @Html.Action("HomeItems", "FE_Project")
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>