
@{
    Layout = null;
}
@model Construction.Domain.Models.Setting
<div class="row">
    <div class="col-md-12">
        <div class="section-title text-center">
            <h3>Dịch vụ</h3>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="row">
    <div class="span12">

        @Html.Raw(WebUtility.HtmlDecode(Model.Description))


    </div>
</div>
