@{
    Layout = null;
}
<div class="row">
    <div class="span7">

        <div id="respond">
            <h3>Tư vấn</h3>
            <i>Hãy nhập thông tin của bạn để được chúng tôi tư vấn</i>
            <div class="cancel-comment-reply">
                <small><a rel="nofollow" id="cancel-comment-reply-link" href="/wordpress_47532/portfolio-view/sed-ut-perspiciatis-unde/#respond" style="display:none;">Click here to cancel reply.</a></small>
            </div>
            <form action="#" method="post" id="commentform">
                <p class="field">
                    <input type="text" name="author" id="author" placeholder="Nhập tên" tabindex="1" aria-required="true">
                </p>
                <p class="field">
                    <input type="text" name="email" id="email" placeholder="Số điện thoại" size="22" tabindex="2" aria-required="true">
                </p>
                <p>
                    <textarea name="comment" id="comment" cols="58" rows="10" tabindex="3" placeholder="Lời nhắn"></textarea>
                </p>
                <button name="submit" type="submit" class="md-button btn-deep-purple waves-effect" id="submit" tabindex="4">
                    <span>  Gửi  </span>&nbsp; <i class="fa fa-send-o" aria-hidden="true"></i>
                </button>

            </form>
        </div>
    </div>
</div>
