<div class="container">
    <div class="row">
        <div class="span12" data-motopress-wrapper-file="wrapper/wrapper-footer.php" data-motopress-wrapper-type="footer" data-motopress-id="5a030481e289e">
            <div class="footer-widgets">
                <div class="row">
                    <div class="span6" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-1">
                        <div id="text-5">
                            <div class="textwidget"><img src="https://livedemo00.template-help.com/wordpress_47532/wp-content/uploads/2013/10/footer-logo.png" class="footer-logo"></div>
                        </div>
                    </div>
                    <div class="span3" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-2">
                        <div id="text-6" class="visible-all-devices contacts ">
                            <div class="textwidget">
                                9863 - 9867 Mill Road,<br>
                                Cambridge, MG09 99HT<br>
                                Freephone:  <em>+1 800 559 6580</em><br>
                                Fax:            <em>+1 800 559 6580</em>
                            </div>
                        </div>
                    </div>
                    <div class="span3" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-3">
                        <div id="sml_subscribe_widget"><h4></h4><div class="textwidget"><form class="sml_subscribe" method="post"><input class="sml_hiddenfield" name="sml_subscribe" type="hidden" value="1"><p class="sml_email"><label class="sml_emaillabel" for="sml_email"></label><input class="sml_emailinput" name="sml_email" placeholder="Signup for mail" type="text" value=""></p><p class="sml_submit"><input name="submit" class="btn sml_submitbtn" type="submit" value="ok"></p></form></div></div>
                    </div>
                </div>
            </div>
            <div class="row copyright">
                <div class="span6" data-motopress-type="static" data-motopress-static-file="static/static-footer-text.php">
                    <div id="footer-text" class="footer-text">
                        <a href="https://livedemo00.template-help.com/wordpress_47532/" title="Real Estate site" class="site-name">Consuela</a> <span>© 2017 <em>•</em> <a href="https://livedemo00.template-help.com/wordpress_47532/privacy-policy/" title="Privacy Policy">Privacy Policy</a></span>

                        <!-- {%FOOTER_LINK} -->
                    </div>
                </div>
                <div class="span6" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-4">
                    <div id="social_networks-3">
                        <!-- BEGIN SOCIAL NETWORKS -->

                        <ul class="social social__row clearfix unstyled">

                            <li class="social_li">
                                <a class="social_link social_link__facebook" rel="tooltip" data-original-title="facebook" href="#">
                                    <span class="social_ico"><img src="https://livedemo00.template-help.com/wordpress_47532/wp-content/themes/theme47532/images/icons/facebook.png" alt=""></span>
                                </a>
                            </li>
                            <li class="social_li">
                                <a class="social_link social_link__twitter" rel="tooltip" data-original-title="twitter" href="#">
                                    <span class="social_ico"><img src="https://livedemo00.template-help.com/wordpress_47532/wp-content/themes/theme47532/images/icons/twitter.png" alt=""></span>
                                </a>
                            </li>
                            <li class="social_li">
                                <a class="social_link social_link__linkedin" rel="tooltip" data-original-title="linkedin" href="#">
                                    <span class="social_ico"><img src="https://livedemo00.template-help.com/wordpress_47532/wp-content/themes/theme47532/images/icons/linkedin.png" alt=""></span>
                                </a>
                            </li>

                        </ul>
                        <!-- END SOCIAL NETWORKS -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-footer-nav.php">
                </div>
            </div>
        </div>
    </div>
</div>
