<div class="container">
    <div class="row">
        <div class="span12" data-motopress-wrapper-file="wrapper/wrapper-header.php" data-motopress-wrapper-type="header" data-motopress-id="5a0304814285c">
            <div class="row">
                <div class="span3" data-motopress-type="static" data-motopress-static-file="static/static-logo.php">
                    <div class="logo pull-left">
                        <a href="/" class="logo_h logo_h__img">
                            <img src="~/asset/images/logo.png" />
                        </a>
                    </div>
                </div>
                <div class="span9" data-motopress-type="static" data-motopress-static-file="static/static-nav.php">
                    @Html.Partial("~/Views/Shared/_NavBar.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>