<!-- BEGIN MAIN NAVIGATION -->
<nav class="nav nav__primary clearfix">
    <ul id="topnav" class="sf-menu sf-js-enabled">
        <li id="menu-item-1807" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-203 current_page_item">
            <a href="/">Home</a>
        </li>
        <li id="menu-item-1810" class="menu-item menu-item-type-post_type menu-item-object-page">
            <a href="#">About</a>
            <ul class="sub-menu" style="visibility: hidden;">
                <li id="menu-item-1811" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Testimonials</a></li>
                <li id="menu-item-1812" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Archives</a></li>
                <li id="menu-item-1805" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">FAQs</a></li>
            </ul>
        </li>
        <li id="menu-item-1809" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Services</a></li>
        <li id="menu-item-1808" class="menu-item menu-item-type-post_type menu-item-object-page">
            <a href="#">Gallery</a>
            <ul class="sub-menu" style="visibility: hidden;">
                <li id="menu-item-1815" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Gallery 2</a></li>
                <li id="menu-item-1814" class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a href="#">Gallery 3</a>
                    <ul class="sub-menu" style="visibility: hidden;">
                        <li id="menu-item-1883" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Category 1</a></li>
                        <li id="menu-item-1882" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Category 2</a></li>
                        <li id="menu-item-1881" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Category 3</a></li>
                    </ul>
                </li>
                <li id="menu-item-1813" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Gallery 4</a></li>
            </ul>
        </li>
        <li id="menu-item-1806" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Blog</a></li>
        <li id="menu-item-1804" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Contacts</a></li>
    </ul>
</nav><!-- END MAIN NAVIGATION -->
