@{ 
    Layout = null;
}
 <!-- BEGIN BREADCRUMBS-->
<ul class="breadcrumb breadcrumb__t"><li><a href="https://livedemo00.template-help.com/wordpress_47532">Home</a></li><li class="divider"></li><li class="active">Gallery</li></ul>			<!-- END BREADCRUMBS -->
