
@{

    Layout = null;
}
@model Construction.Web.Models.Navigation.NavigationViewModel

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span3">
                    <div class="logo pull-left">
                        <a href="/" class="logo_h">
                            <img src="~/asset/images/logo.png" />
                        </a>
                    </div>
                </div>
                <div class="span9">
                    <nav class="nav nav__primary clearfix">
                        <ul id="topnav" class="sf-menu">
                            <li class="menu-item">
                                <a href="/">Trang chủ</a>
                            </li>
                            <li class="menu-item">
                                <a href="/gioi-thieu">Giới thiệu</a>
                            </li>
                            <li class="menu-item">
                                <a href="#dich-vu">Dịch vụ</a>
                            </li>
                            <li class="menu-item">
                                <a href="/mau-thiet-ke">Mẫu thiết kế <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <ul class="sub-menu">
                                    @{
                                        foreach (var item in Model.Categories)
                                        {
                                            <li class="menu-item">
                                                <a href="#">@item.Name</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="/du-an">Dự án <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <ul class="sub-menu">
                                    @{
                                        foreach (var item in Model.Categories)
                                        {
                                            <li class="menu-item">
                                                <a href="#">@item.Name</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="/lien-he">Liên hệ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

