
@{

    Layout = null;
}
@model Construction.Web.Models.Navigation.NavigationViewModel

<nav class="nav nav__primary clearfix">
    <ul id="topnav" class="sf-menu sf-js-enabled">
        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-203 current_page_item">
            <a href="/">Trang chủ</a>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a href="/gioi-thieu">Giới thiệu</a>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a href="#">Dịch vụ <i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <ul class="sub-menu">
                @{
                    foreach (var item in Model.ListService)
                    {
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="#">@item.Name</a>
                        </li>
                    }
                }
            </ul>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a href="#">Sản phẩm <i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <ul class="sub-menu">
                @{
                    foreach (var item in Model.Categories)
                    {
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="#">@item.Name</a>
                        </li>
                    }
                }
            </ul>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a href="#">Dự án <i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <ul class="sub-menu">
                @{
                    foreach (var item in Model.Categories)
                    {
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="#">@item.Name</a>
                        </li>
                    }
                }
            </ul>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a href="/lien-he">Liên hệ</a>
        </li>
    </ul>
</nav>
